.page {
  position: relative;
  z-index: 1;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family, "Inter-Variable"), Arial, sans-serif;
  font-variation-settings: var(--main-font-weight-card);
  color: var(--accent-color, #000);
  padding-block-start: 100px;
  background-attachment: fixed;
  background-color: var(--background-color-main, #fff);
  background-image: var(--page-background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--accent-font-family, "PressStart2P"), Arial, sans-serif;
  margin-block-end: 100px;
  max-height: 327px;
  inline-size: 100%;
  max-inline-size: 700px;
  margin-inline: auto;
  padding-block: clamp(120px, 7.3239rem + 0.7512vw, 128px);
  border: 2px solid var(--accent-color, #000);
  text-align: center;
  background-color: var(--background-color-main, #fff);
}

.logo__header {
  font-size: clamp(49px, calc(49px + (65 - 49) * ((100vw - 375px) / (1024 - 375))), 65px);
  text-transform: uppercase;
  margin-block-end: 20px;
}

.logo__header:focus {
  outline: none;
}

.header__title {
  font-size: clamp(14px, calc(14px + (23 - 14) * ((100vw - 375px) / (1024 - 375))), 23px);
  text-transform: uppercase;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  position: relative;
  z-index: 1;
}

.content__cards-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 50px;
  list-style: none;
}

.content__cards-list-item {
  background: var(--background-color-main, #fff);
}

.card {
  display: flex;
  max-width: 375px;
  flex-direction: column;
  border: 2px solid var(--accent-color, #000);
}

.card__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6px 10px;
  font-family: var(--main-font-family, "Inter-Variable"), Arial, sans-serif;
  word-break: normal;
  font-size: 1.125rem;
  line-height: normal;
  text-align: left;
  font-weight: 715;
  border-block-end: 2px solid var(--accent-color, #000);
}

.card__image-wrapper {
  position: relative;
  margin: 0;
  min-height: 371px;
}

.card__label {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-size: 14px;
  font-family: var(--accent-font-family, "PressStart2P"), Arial, sans-serif;
  color: var(--accent-color, #000);
  line-height: normal;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  text-shadow: -1px 0 var(--text-stroke-color), 0 1px var(--text-stroke-color), 1px 0 var(--text-stroke-color), 0 -1px var(--text-stroke-color);
}

@supports ((-webkit-text-stroke: 1px var(--text-stroke-color, #fff)) or (text-stroke: 1px var(--text-stroke-color, #fff))) {
  .card__label {
    -webkit-text-stroke: 1px var(--text-stroke-color, #fff);
    text-shadow: none;
  }
}

.card-image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
  border-block-end: 2px solid var(--accent-color, #000);
  aspect-ratio: 1 / 1;
}

.filter-grayscale {
  filter: grayscale(3%);
}

.filter-invert {
  filter: invert(0.1) grayscale(10%);
}

.filter-sepia {
  filter: sepia(10%);
}

.filter-blur {
  filter: blur(2px);
}

.filter-hue-rotate-contrast {
  filter: hue-rotate(1deg) contrast(1);
}

.filter-saturate {
  filter: saturate(5%);
}

.card__content {
  display: flex;
  flex-direction: column;
}

.card__content-text {
  display: grid;
  gap: 28px;
  padding: 25px;
  font-size: 18px;
  line-height: 21px;
}

.card__paragraph {
  text-align: start;
  word-wrap: normal;
}

.card__content-buttons {
  display: flex;
  justify-content: end;
  align-items: stretch;
  padding: 0 25px 25px 0;
  border-bottom: 0px solid var(--accent-color, #000);
  gap: 5px;
}

.card__icon-button {
  display: flex;
  min-width: 43px;
  border: 2px solid transparent;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.like-icon {
  position: relative;
  border: 2px solid transparent;
  padding: 0;
  font-family: var(--accent-font-family, "PressStart2P"), Arial, sans-serif;
  font-size: 14px;
  background: var(--background-color-main, #fff);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 12.6px;
  overflow: hidden;
}

.contour {
  fill: var(--contour-color, #000);
  transition: fill 0.1s 0s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s 0s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.sparks {
  opacity: 0;
}

.is-liked .contour {
  fill: var(--animation-fill-core, #ff0000);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color, #000);
  font-family: var(--accent-font-family, "PressStart2P"), Arial, sans-serif;
  font-size: 14px;
  color: var(--accent-color, #000);
  background: var(--background-main-color, #fff);
  transition: box-shadow 0.3s ease, color 0.5s ease-in-out, background-color 0.5s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  line-height: 12.6px;
}

.button__text {
  line-height: 90%;
  font-family: var(--accent-font-family, "PressStart2P"), Arial, sans-serif;
  font-size: 14px;
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 130px;
  padding: 0;
  min-height: 38px;
  line-height: 38px;
  background-color: var(--background-main-color, #fff);
  color: var(--accent-color, #000);
  border: 2px solid var(--accent-color, #000);
}

.card__like-button:hover {
  background-color: var(--accent-color, #000);
  color: var(--background-main-color, #fff);
}

.button--save {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 84px;
  max-width: 306px;
  margin: 0 auto;
  gap: 8px;
  padding: 17px 20px 17px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.button--save .button__text {
  line-height: 90%;
  font-family: var(--accent-font-family, "PressStart2P"), Arial, sans-serif;
  font-size: 14px;
  white-space: nowrap;
  border: transparent;
}

.button__icon {
  height: 28px;
  max-width: 28px;
  padding: 0;
  color: var(--blend-content-color, #fff);
  mix-blend-mode: difference;
}

.modal[open] {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  background-color: var(--background-main-color, #fff);
  border: 2px solid var(--accent-color, #000);
  max-width: 341px;
  max-height: 191px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.modal__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.modal-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.modal__icon {
  flex-shrink: 0;
  height: 39px;
  width: 39px;
  padding: 0;
  color: var(--blend-content-color, #fff);
  mix-blend-mode: difference;
}

.modal__title {
  margin: 0;
  padding-left: 0;
  line-height: 150%;
  font-family: var(--accent-font-family, "PressStart2P"), Arial, sans-serif;
  font-size: 14px;
  color: inherit;
  text-transform: uppercase;
  max-width: 234px;
}

.modal__button {
 position: relative;
  overflow: hidden;
  z-index: 0;
  min-height: 38px;
  min-width: 261px;
  border: 2px solid var(--accent-color, #000);
  background-color: var(--background-main-color, #fff);
  color: var(--accent-color, #000);
  font-family: var(--accent-font-family, "PressStart2P"), Arial, sans-serif;
  cursor: pointer;
  transition: color 0.3s ease;
}

.modal__button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color, #000);
  z-index: -1;
  transition: left 0.3s ease;
}

.modal__button:hover::before {
  left: 0;
}

.modal__button:hover {
  color: var(--background-main-color, #fff);
  border-color: var(--accent-color, #000);
  cursor: pointer;
}

.modal__button-text {
  color: inherit;
  text-transform: uppercase;
}

.blend-botton {
  position: relative;
  overflow: hidden;
}

.button__text:focus-visible,
.modal__button:focus-visible,
.card__like-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color, #000);
}

.button__text:focus,
.modal__button:focus,
.card__like-button:focus {
  outline: none;
}

.button:has(.is-liked) {
  box-shadow: none;
}

.card__like-button:has(.is-liked) {
  box-shadow: none;
}

@media (min-width: 1024px) {
  .header {
    max-height: 368px;
  }

  .header__card {
    max-width: 700px;
    padding: 130px 122.5px;
    font-size: clamp(18px, 2vw, 26px);
  }

  .card {
    max-width: 700px;
  }

  .modal[open] {
    max-width: 353px;
    padding: 30px;
  }

  .button--save {
    flex-direction: row;
    max-width: 355px;
    min-height: 55px; 
    padding: 13.5px 19px;
    font-size: 14px;
  }

  .button__icon {
    width: 21px;
    height: 21px;
    padding: 0;
  }

  .modal-content {
    padding: 30px;
  }

  .modal-flex {
    gap: 20px;
  }

  .modal__icon {
    height: 39px;
    width: 39px;
  }

  .modal__button {
    min-width: 293px;
  }
}