:root {
    --main-font-family: "Inter-Variable", sans-serif;
    --accent-font-family: "PressStart2P";
    --accent-font: "PressStart2P";
    --like-fill-color: #FF0000;
    --accent-color: #000;
    --page-background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --background-color-main: #fff;
    --text-stroke-color: #fff;
    --min-height-header: 667px;
    --background-main-color: #fff;
    --contour-color: #000;
    --animation-fill-core: #FF0000;
    --blend-content-color: #fff;
    --hover-fill: #FFF;
    --hover-contour: #000;
  }